#welcome-banner {
    border-color: darkgoldenrod;
    border-style: double;
    border-width: 4px;
    background-image: linear-gradient(
        to right,
        silver,
        lightgray,
        white,
        lightgray,
        silver
    );
    text-align: center;
}

#note-selector {
    border-color: blue;
    border-style: double;
    border-width: 4px;
    background-color: darkgray;
    display: inline-flex;
    column-gap: 30px;
    width: 100%;
    align-content: flex-end;
    justify-content: center;
}

#right-tab {
    float: right;
    margin: 15px 50px;
    border-width: 5px;
    border-style: groove;
    border-color: #111;
    width: fit-content;
    
}

label {
    width:90px;
    clear:left;
    text-align:left;
    padding-right:10px;
}

input[type="text"], label, .label {
    float:left;
}

.post-form > * {
    margin: 30px 30px;
}

#notebook-form, #reflection-form {
    border-color: #333;
    border-style: inset;
    border-width: 2px;
}

#notebook-form {
    background-color: lightgreen;
}

#reflection-form {
    background-color: lightblue;
}

#submit-reflection {
    margin-top: inherit;
    margin-left: 39%;
}