#notes-view {
    display: inline-flex;
    column-gap: 50px;
    overflow: auto;
}

#reflection-tab {
    background-image: linear-gradient(
        to bottom left,
        royalblue,
        skyblue,
        cyan,
        skyblue,
        royalblue
    );
    padding: 0 15px;
    text-align: center;
    border-width: 8px;
    border-style: dashed;
    border-color: #004;
}

#info-tab {
    background-image: linear-gradient(
        to bottom left,
        olive,
        lightgreen,
        lime,
        lightgreen,
        olive
    );
    padding: 0 15px;
    text-align: center;
    border-width: 8px;
    border-style: dashed;
    border-color: #040;
}

#reflection-table {
    padding-bottom: 20px;
}

.reflection-table-header  {
    border-style: dotted;
    border-width: 2px;
}


