* {
    --div-dash-border: 8px;
}

#notes-view {
    display: inline-flex;
    column-gap: 50px;
    overflow: auto;
    margin: 10px 30px 20px 30px;
}

#left-tab {
    display: list-item;
    list-style: none;
    row-gap: var(--div-dash-border);
}

#reflection-tab {
    background-image: linear-gradient(
        to bottom left,
        royalblue,
        skyblue,
        cyan,
        skyblue,
        royalblue
    );
    
    border-color: #004;
}

#info-tab {
    background-image: linear-gradient(
        to bottom left,
        olive,
        lightgreen,
        lime,
        lightgreen,
        olive
    );
    border-color: #040;
}

#reflection-tab, #info-tab {
    padding: 0 15px;
    text-align: center;
    border-width: var(--div-dash-border);
    border-style: dashed;
    height: fit-content;
}

#reflection-table {
    padding-bottom: 20px;
}

.reflection-table-header  {
    border-style: dotted;
    border-width: 2px;
}

#info-table {
    margin-bottom: 20px;
}

#notes-div {
    border-style: ridge;
    border-color: black;
    border-width: var(--div-dash-border);
    background-color: beige;
}

#notes-title {
    text-align: center;
    font-size: 30px;
}

#content-notes {
    background: linear-gradient(
        to right,
        rgba(204, 151, 91, 0.904),
        rgba(236, 214, 165, 0.904),
        rgba(243, 241, 239, 0.904),
        rgba(236, 214, 165, 0.904),
        rgba(204, 151, 91, 0.904)
    );
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}


