/* UPDATE CSS FILE LATER */


.nav-link{
    display: inline-block;
    box-sizing: border-box;
    width: max-content;
    padding: 10px;
    margin: 0 6px 6px;
    background: linear-gradient(
        to bottom right,
        blue,
        skyblue
    );
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 30px) ;
    color: white;
    border-width: 3px;
    border-color: darkblue;
    border-style: double;
}
  
.active {
    color: gold;
}